.App {
  text-align: center;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Logo {
  width: 30rem;
}
.Button {
  background-color: gold;
  width: 30%;
  border : solid 2px black;
  border-radius: 3px;
}