html{
  font-size: 20px;
}
.App {
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}
.Logo {
  width: 28rem;
}
.LogoMainScreen{

  width: 16rem;
}
p{
  margin: 1px;
}
Main{
  margin-top: -60px;
}
.MainContainer{
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.TextBox{
  background-color: #FFE57D;
  width: 10rem;
  height: 2rem;
  border : solid 2px black;
  border-radius: 3px;
  font-size: 1rem;
}

.Button {
  font-size: 1rem;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: gold;
  width: 10rem;
  height: 2rem;
  padding: 1px;
  border : solid 2px black;
  border-radius: 3px;
}
.BaroLogin{
  font-size: 1rem;
  background-color: gold;
  width: 10rem;
  height: 2rem;
  margin-bottom: 50px;
  padding: 1px;
  border : solid 2px black;
  border-radius: 3px;
}



.UserChallengeListBoarder{
  background: white;
  display: flex;
  flex-direction: column-reverse;
  width: 512px;
  height: 200px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); /* 그림자 */ 
  margin: 0 auto; /* 페이지 중앙 정렬 */
  margin-top: 4rem;
}

.UserChallengeList-button{
    width:100px;
    background-color: #f8585b;
    border: none;
    color:#fff;
    padding: 15px 0;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px;
    cursor: pointer;

}

.HomeElementCircleYellow{
  width: 30;
    height: 30;
    border-radius: 25;
    background-color: yellow;
}
.HomeElementCircleRed{
  width: 30;
  height: 30;
  border-radius: 25;
  background-color: red;
}