html{
  font-size: 20px;
}
.App {
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}
.Logo {
  width: 28rem;
}
p{
  margin: 1px;
}
Main{
  margin-top: -60px;
}
.MainContainer{
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.TextBox{
  background-color: #FFE57D;
  width: 10rem;
  height: 2rem;
  border : solid 2px black;
  border-radius: 3px;
  font-size: 1rem;
}

.Button {
  font-size: 1rem;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: gold;
  width: 10rem;
  height: 2rem;
  padding: 1px;
  border : solid 2px black;
  border-radius: 3px;
}
.BaroLogin{
  font-size: 1rem;
  background-color: gold;
  width: 10rem;
  height: 2rem;
  margin-bottom: 50px;
  padding: 1px;
  border : solid 2px black;
  border-radius: 3px;
}